// @file: color variables

$c_link: #1e6795; 
$c_body_text: #333333;

$light_gray: #b7b7b7;
$mid_gray: #6b6b6b;
$dark_gray: #1e1e1e;

$t_headers: #084f77;

$steel_blue: #385880;
$steel_blue__bright: #407ac2;
$dog_red: #9c0606;
$dog_red__bright: #be0f0f;
$dutch_orange: #cf5c25;
$dutch_orange__bright: #e15a1a;
$light_gold: #e3c384;