// @file: media query breakpoints, layout dimension defaults, and z-indexes

// Media query breakpoints
// TODO: use breakpoint
$hh_portrait_max: 20em; // 320px
$hh_landscape_max: 30em; // 480px
$smtab_portrait_max: 37.5em; // 600px
$tab_portrait_max: 48em; // 768px
$smtab_landscape_max: 50em; // 800px
$tab_landscape_max: 64em; // 1024px

// Layout dimension defaults
$row_width: 67.5em; // 1280px

// Z-indexes
$z_top: 1000;
$z_mid: 500;
$z_low: 10;
$z_neg: -100;
$off_canvas: -1000em;