// @file: media query breakpoints, layout dimension defaults, and z-indexes

// turning on breakpoint's auto ems conversion
$breakpoint-to-ems: true;

// Media query breakpoints
$hh_portrait_max: 320px;
$hh_landscape_max: 480px;
$smtab_portrait_max: 600px;
$tab_portrait_max: 768px;
$smtab_landscape_max: 800px;
$tab_landscape_max: 1024px;

// Layout dimension defaults
$row_width: 1280px;

// Z-indexes & off-canvas
$z_top: 1000;
$z_mid: 500;
$z_low: 10;
$z_neg: -100;
$off_canvas: -1000em;